Exercises/wfc/GettingStartedSoapDemo/GettingStartedClient/Connected Services/ServiceReference2/Microsoft.ServiceModel.Samples.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Microsoft.ServiceModel.Samples" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Microsoft.ServiceModel.Samples/Imports">
      <xsd:import namespace="http://Microsoft.ServiceModel.Samples" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFridge_countFruit_InputMessage">
    <wsdl:part name="parameters" element="tns:countFruit" />
  </wsdl:message>
  <wsdl:message name="IFridge_countFruit_OutputMessage">
    <wsdl:part name="parameters" element="tns:countFruitResponse" />
  </wsdl:message>
  <wsdl:message name="IFridge_addFruit_InputMessage">
    <wsdl:part name="parameters" element="tns:addFruit" />
  </wsdl:message>
  <wsdl:message name="IFridge_addFruit_OutputMessage">
    <wsdl:part name="parameters" element="tns:addFruitResponse" />
  </wsdl:message>
  <wsdl:message name="IFridge_subtractFruit_InputMessage">
    <wsdl:part name="parameters" element="tns:subtractFruit" />
  </wsdl:message>
  <wsdl:message name="IFridge_subtractFruit_OutputMessage">
    <wsdl:part name="parameters" element="tns:subtractFruitResponse" />
  </wsdl:message>
  <wsdl:portType name="IFridge">
    <wsdl:operation name="countFruit">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IFridge/countFruit" message="tns:IFridge_countFruit_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IFridge/countFruitResponse" message="tns:IFridge_countFruit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addFruit">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IFridge/addFruit" message="tns:IFridge_addFruit_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IFridge/addFruitResponse" message="tns:IFridge_addFruit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="subtractFruit">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IFridge/subtractFruit" message="tns:IFridge_subtractFruit_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IFridge/subtractFruitResponse" message="tns:IFridge_subtractFruit_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>